[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"
redis = "*"
pymysql = "*"

[dev-packages]


[requires]
python_version = "3.6"
