[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
wtforms = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
# mysqlclient 1.3.13 require VC++ 14.0
"51effbf" = {file = "https://download.lfd.uci.edu/pythonlibs/j1ulh5xc/mysqlclient-1.3.13-cp36-cp36m-win_amd64.whl"}
flask-migrate = "*"
flask-script = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.6"
